---
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const { pageTitle = "Blog" } = Astro.props;
---

<BaseLayout>
  <h1>{pageTitle}</h1>
  <h2>... and my new Astro site!</h2>
  <h1>My Astro Site</h1>
  <h1>About Me</h1>
  <h2>... and my new Astro site!</h2>

  <p>
    I am working through Astro's introductory tutorial. This is the second page
    on my website, and it's the first one I built myself!
  </p>

  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>
  <div class="container">
    <div class="items">
      <div class="items-head">
        <p>Posts</p>
        <hr />
      </div>

      <div class="items-body">
        <div class="items-body-content">
          <a href="pages/posts/post-1.md">Post 1</a>
          <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
          <a href="post-2.md">Post 2</a>
          <i class="fa fa-angle-right"></i>
        </div>
        <div class="items-body-content">
          <a href="post-3.md">Post 3</a>
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
