---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout>
  <meta charset="utf-8" />
  <h1>{frontmatter.title}</h1>
  <p>Written by {frontmatter.author}</p>
  <slot />

  <button>
    <a href="/blog">
      <span>Back</span>
      <a></a>
    </a>
  </button>
</BaseLayout>
