---
const { frontmatter } = Astro.props;
import "../styles/global.css";
---

<meta charset="utf-8" />
<h1>{frontmatter.title}</h1>
<p>Written by {frontmatter.author}</p>
<slot />

<button class="cssbuttons-io">
  <span><a href="/blog">Back</a></span>
</button>
